.minefield {
    line-height:0;
    border-spacing:0;
}

.minefield td {
    padding:0;
}

#result {
  color: red;
}

.spacer {
    margin: 10px;
}

.Win tr td img {
  opacity: 0.2;
}

.Loose tr td img {
  opacity: 0.2;
}

@media (min-width: 700px) {

  img {
    width: 40px;
    height: 40px;
  }
  
  td {
    
    width: 40px; 
    height: 40px;
  }
}
